.languages{
    background: url('/planisfero.png') no-repeat center right;
}
.languages::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(13, 13, 13, .98);
}
.titleLang{
    font-size: 20px;
}