.info{
    background-color: #0D0D0D;
    background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.06) 0%, 
    rgba(255, 255, 255, 0.06) 50%, 
    rgba(255, 255, 255, 0.03) 50%, 
    rgba(255, 255, 255, 0.03) 100%
  );
}
.item::after{
  content: " - ";
}
.item:last-of-type::after{
  content: "";
}
@media screen and (max-width: 753px) {
    .info{
      background: rgba(255, 255, 255, 0.06);
    }
}
/* .firstColumn{
    background-color: rgba(255,255,255, 0.05);
} */