.cardPortfolio{
    min-width: 250px;
    min-height: 448px;
    width: 37.8vh;
    height: 62.8vh;
    max-width: 378px;
    max-height: 628px;
    border-radius: 28px;
    padding: 16px 16px 50px 16px;
    box-sizing: border-box;
    position: relative;
    filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.1));
    transition: all, 0.3s;
}
.cardTitle{
    text-shadow: -2px 0px 11px rgba(0, 0, 0, 0.5);
}
.drag{
    cursor: url('/scroll-horizontal.svg'), auto;
}
.cardPortfolio:hover{
    filter: saturate(150%);
}
.coverImage{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    border-image-width: 0;
    z-index: -1;
}
.languages{
    position: absolute;
    top: 20px;
    left: 20px;
    right:20px;
}