.team{
    background-color: rgba(0,0,0, 0.8);
}
.team::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("https://res.cloudinary.com/milksoup/image/upload/f_auto,q_auto/v1634289992/Seamonkeys/team/team_zjuwol.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
}
.teamImage{
    object-fit: cover;
    width: 64px;
    height: 64px;
}

@media screen and (max-width: 768px) {
    .reverseColumns {
        flex-direction: column-reverse;
        display: flex;
    }
}